body {
    padding: 50px;
}

[data-template] {
    display: none;
}

.flash {
    -webkit-animation: 2s flash;
}
@-webkit-keyframes flash {
    from { background: yellow; }
    to { background: auto; }
}

.user-card {
    display: inline-block;
    margin: 0 10px 10px 0; padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user-card .close {
    margin-left: 10px;
}